<div>
  <%= form_for(user) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <fieldset class="user_form">
      <legend>Please enter info</legend>
      <div class="field">
        <%= f.label :name, 'Name:' %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :password, 'Password:' %>
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'Confirm Password:' %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="actions">
        <%= f.submit 'Create User', class: "btn btn-primary"%>
      </div>
    </fieldset>
  <% end %>
</div>
