<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th class="order_index">Name</th>
      <th class="order_index">Address</th>
      <th class="order_index">Email</th>
      <th class="order_index">Pay type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="order_index"><%= order.name %></td>
        <td class="order_index"><%= order.address %></td>
        <td class="order_index"><%= order.email %></td>
        <td class="order_index"><%= order.pay_type %></td>
        <td class="order_index"><%= link_to 'Show', order %></td>
        <td class="order_index"><%= link_to 'Edit', edit_order_path(order) %></td>
        <td class="order_index"><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Order', new_order_path %> -->
